body{
    margin: 0;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    text-align: center;
}


#winner{
    font-size: 2.0em;
}

#display-counter{
    font-size: 2.5em;
    text-align: center;
}


h4{
    font-size: 3em;
    text-align: center;
}

#player1{
    background-color: hsl(0, 0%, 23%);
    color: white;
    border-radius: 10px;
    width: 350px;
    height: 550px;
}

#player2{
    background-color: hsl(0, 0%, 23%);
    color: white;
    border-radius: 10px;
    width: 350px;
    height: 550px;
}

#player1 button{
    margin-left: 29%;
    margin-top: 20%;
}

#player2 button{
    margin-left: 29%;
    margin-top: 20%;
}

#player1 p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#player2 p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 34%);
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}

button:hover{
    background-color: hsl(0, 0%, 30%);
}

button:active{
    transform: scale(1.05);
}

#container{
    display: flex;
    justify-content:space-around;

}

#cards{
    background-color: hsl(0, 0%, 23%);
    color: white;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    text-align: center;
}

#card{
    font-size: 7rem;
    margin-top: 70px;
}

#display-card{
    margin-left: 20%;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    width: 200px;
    height: 270px;
    display: flex;
    justify-content: center;
}



#new-game{
    padding: 20px;
    margin-top: 30px;
    margin-left: 46%;
}